.content
	padding: 10px
	h1
		line-height: 24px
		padding-bottom: 10px 
	p img
		width: 100%
	h3
		line-height: 24px
		padding: 10px 0
	ul 
		padding: 10px 0
		li
			line-height: 24px
		a img
			width:100%




